@import "tailwindcss";

@theme {
  --color-baseBlue: #0052ff;
  --color-baseBlueLight: #e5e9ff;
  --color-baseBg: #020617;
  --color-baseCard: #0b1120;
}

body {
  background: radial-gradient(circle at top, #020617 0, #020617 40%, #000 100%);
  color: #e5e7eb;
}
